body{
  font-size:12px;
  font-family:"cpmono", monospace;
  font-weight:200;
  line-height:20px;
  text-align:center;
}
header{
  text-align:center;
}
header h1{
  text-align:center;
  letter-spacing:17vw;
  width:100%;
  overflow:hidden;
}
body>header p{
  margin:20px;
}

section img, section video{
  max-width:300px;
  width:100%;
  height:auto;
  display:block;
}

section{
  max-width:350px;
  width:100%;
  padding:20px;
  display:inline-block;
  text-align:left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
section h1{
  letter-spacing:3px;
  font-weight:400;
  font-size:14px;
  text-align:center;
}
section .meta{
  display:none;
  text-align:left;
  border:1px solid black;
  padding:2px;
}
section .meta.opened{
  display:block;
}

a,.button{
  text-transform:uppercase;
  display:inline;
  color:black;
  border:1px solid black;
  text-decoration:none;
}
.button{
  cursor:pointer;
}
.alert, b{
  color:red;
}
